logFilename=/var/www/fask/log/application.log
logLevel=DEBUG
logFormat=%(asctime)s - %(levelname)s - %(message)s
databaseFilename=/var/www/fask/localLinkk.db
projectPath=/var/www/fask/LocalLinkk/Backend
JWT_SECRET_KEY=secret

opencagedataAPIkey=

dbType=sqlite

dbHost=192.168.127.223
dbDatabase=locallinkk
dbUser=postgres
dbPassword=newpasswordS